@model Domain.Treino


<form method="post">
    <fieldset>
        <legend>Treino</legend>
        <div>

            <div class="form-group" id="Cliente" >
                <label>Cliente</label>
                <select asp-items="@ViewBag.Cliente"
                        class="form-control"
                        name="drpCliente">
                    <option> -- SELECIONE -- </option>
                </select>
            </div>
            <div class="form-group" id="Professor">
                <label>Professor</label>
                <select asp-items="@ViewBag.Professor"
                        class="form-control"
                        name="drpProfessor">
                    <option> -- SELECIONE -- </option>
                </select>
            </div>


            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Selecionar</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (Exercicios item in ViewBag.Exercicios)
                    {
                        <tr>
                            <td>@item.NomeExercicio</td>
                            <td>@item.Categoria</td>
                            <td><input type="checkbox">@item.Ckb</td>
                        </tr>                    
                    }
                    
                </tbody>
            </table>
        </div>


            <input type="submit"
                   class="btn btn-success"
                   value="Cadastrar"
                   asp-action="Cadastrar"
                   asp-controller="Treino" />
        </fieldset>
</form>