@model List<Treino>

<h2>Index</h2>

<h4>Treinos Cadastrados</h4>
@Html.ActionLink("Cadastro Treino", "Cadastrar", "Treino", null, new { @class = "btn btn-primary" })


<div>
    <table style="margin-bottom:15px;margin-top:15px"
           class="table table-hover table-striped">
        <thead>
            <tr class="table-active">
                <th>TreinoID</th>
                <th>Nome Cliente</th>
                <th>Professor</th>
                <th>Exercicio</th>
                <th>Remover</th>

            </tr>
        </thead>
        <tbody>


            @foreach (var treino in Model)
            {
                <tr>
                    <td> @treino.TreinoId</td>
                    <td >@treino.Cliente</td>
                    <td >@treino.Professor</td>
                    <td >@treino.Exercicio</td>
                    <td>
                    <a asp-action="Remover"
                       asp-route-id="@treino.TreinoId"
                       class="btn btn-danger">
                        Remover
                    </a>
                    </td>
                    
                </tr>
            }

        </tbody>
    </table>
</div>

